.fp {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.fpImg {
    width: 250px; /* Set width for the image */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover;
}

.fpDetails {
    flex: 1; /* Allow text details to take remaining space */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.fpName {
  color: #003580;
  font-weight: bold;
  margin: auto 0; /* Center horizontally */
}

.fpCity, .fpPrice {
  margin: auto 0; /* Center horizontally */
    font-weight: 300;
}

.siCheckButton {
    background-color: #0071c2;
    color: white;
    padding: 10px 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dormitory-details {
  gap: 10px;
  display: flex;
  align-items: stretch; /* Adjust alignment */
}